* {
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Google Sans Flex", sans-serif;
    font-weight: 400;
    display: flex;
    
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(8deg, #8a4d2c,#ffd9ad);/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(8deg, #8a4d2c,#ffd9ad);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
    width: 110%;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style:none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 42px;
    height: 5px;
    background: #000000;
    border-radius: 10px;
}

header nav ul li a {
    color:black;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid black ;
    border-radius: 4px;
    transition: all 100ms ease
}

header nav ul li.btn a {
    background-color: rgb(66, 48, 21);
    color:#fff;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 350ms ease
}


header nav ul li.btn a:hover {
    background-color: #ffe6d2;
    color:rgba(75, 21, 0, 0.945);
}

.hero {
    padding-bottom: 100px;
    position: relative;
}

.hero--info {
    width: 550px;
    padding-top: 70px;
     
}


.hero--info h2 {
    font-weight: 600;
    font-size: 25px;

}

.hero--info h1 {
    font-weight: 700;
    font-size: 40px;
}

.hero--info p {
    font-weight: 780;
    font-size: 18px;
    line-height: 170%;
    
}

.hero--info .btn {
    background: #ffd9ad;
    color:#8a4d2c;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 350ms ease;
    font-size: 15px;
}



footer {
    background-color: rgb(31, 12, 0);
    color: #ffebd4;
    padding: 50px  ;
    margin-top: 1000px;
}

footer .footer-container {
    display: flex;
    justify-content: space-between;
}

footer .footer-container p {
    width: 500px;
}

.section {
    margin-left: 100px;
}

.course {
    margin: 40px;
}

.classic_course {
    margin: 10px 0px 0px 15px;
}

.list_course {
    margin-left: 18px;
}

.course a:hover {
    color:#8a6133;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color:#4b2800;
    transition: all 270ms;
}


