@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,slnt,wdth,wght,GRAD,ROND@6..144,-10..0,25..151,1..1000,0..100,0..100&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Google Sans Flex", sans-serif;
    font-weight: 400;
    display: flex;
    
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(8deg, #8a4d2c,#ffd9ad);/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(8deg, #8a4d2c,#ffd9ad);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
    width: 110%;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style:none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 25px;
    height: 5px;
    background: #000000;
    border-radius: 10px;
}

header nav ul li a {
    color:black;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid black ;
    border-radius: 4px;
    transition: all 100ms ease
}

header nav ul li.btn a {
    background-color: rgb(66, 48, 21);
    color:#fff;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 350ms ease
}


header nav ul li.btn a:hover {
    background-color: #ffe6d2;
    color:rgba(75, 21, 0, 0.945);
}

.hero {
    padding-bottom: 100px;
    position: relative;
}

.hero--info {
    width: 550px;
    padding-top: 70px;
     
}


.hero--info h2 {
    font-weight: 600;
    font-size: 25px;

}

.hero--info h1 {
    font-weight: 700;
    font-size: 40px;
}

.hero--info p {
    font-weight: 780;
    font-size: 18px;
    line-height: 170%;
    
}

.hero--info .btn {
    background: #ffd9ad;
    color:#8a4d2c;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 350ms ease;
    font-size: 15px;
}

.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #ffc37f;
    font-size: 16px;
}

.hero img {
    max-width: 25%;
    top: 83px;
    right: 10px;
    position: absolute;
    border-radius: 15px;
    border:5px solid black;
    box-shadow: 5px 10px 15px 10px, 3px 15px 10px 1px ;
    transition: all 200ms ease;
}

.hero img:hover {
    transition: all 200ms ease;
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 5px, 0px 0px 0px 0px ;
}

.classic {
    width: 1400px;
    margin: auto;
    
}

.description-countainer {
    width: 530px;
    padding-left: 1000px;
    position: absolute;
}

.classic h1 {
    font-weight: 700;   
    font-size: 45px;
}

.classic p {
    font-weight: 780;
    font-size: 18px;
    line-height: 170%;
}

.classic .btn {
    background: #ffd9ad;
    color:#8a4d2c;
    border-radius: 18px;
    padding: 15px 30px;
    border: 0;
    transition: all 350ms ease;
    font-size: 18px;
    
}

.classic .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #ffc37f;
    font-size: 18px;
    
    
}

.description-street {
    width: 430px;
    padding-left: 0px;
    margin: 0px 0px 0px 0px;
    position: absolute;
}

.Glr {
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    height: 50%;
    border-radius: 10px;
    
}

.photos-container {
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 10%;
    border-radius: 50px;
    flex: 0.5;
    margin: 350px 0px 0px 0px;
    position: relative;
    transition: all 700ms ease-in;
    display: flex;
}


.photos-container img {
    margin: 5px;
    margin-top: 60px;
    max-width: 310px;
    max-height: 310px;
    border-radius: 12px;
    justify-content: space-between;
    border: 3px solid #020202 ;
    transition: all 300ms ease;
}

.photos-container img:hover {
    margin: 15px;
    transition: all 300ms ease;
    transform: scale(1.1);
}



.container-classic .btn{
    margin: 0px 20px 500px 1000px;
}

.photos-container-2 {
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 10%;
    border-radius: 50px;
    flex: 0.5;
    margin: 20px 0px 0px 450px;
    position: relative;
    transition: all 700ms ease-in;
    display: flex;
}

.photos-container-2 img:hover {
    margin: 15px;
    transition: all 300ms ease;
    transform: scale(1.1);
}

.photos-container-2 img {
    margin: 5px;
    margin-top: 60px;
    max-width: 310px;
    max-height: 310px;
    border-radius: 12px;
    justify-content: space-between;
    border: 3px solid #020202 ;
    transition: all 300ms ease;
}

.Glr-2 {
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    height: 50%;
    border-radius: 10px;
    
}

.container-review {
    margin-top: 400px;
    margin-bottom: 700px;
    width: 1420px;
    height: 600px;
    margin-left: 10px;
}

.container-review h1 {
    width: 490px;
    margin: 0px 0px 0px 470px;
    scale: 0.9;
    background-color: #ffd19d;
    border-radius: 187px;
    border: 2px solid #442000;
    transition: all 200ms;
    text-align: center;
} 

.container-review h1:hover{
    scale: 1;
}

.review-1 {
    background-color:#ffffff;
    border-radius: 12px;
    border: 2px solid #492503;
    width: 900px;
    height: 315px;
    margin: auto;
    margin-top: 100px;
    margin-left: 255px;
}

.review-1 h2 {
    scale:1.2;
    background-position: left;
    margin-left: 90px;
    margin-top: 10px;
}

.review-1 p {
    scale:1.2;
    background-position: left;
    margin-left: 90px;
    margin-top: 10px;
}

.review-1 .stars{
    text-align: right;
    margin-top: 10px;
}

.stars{
    text-align: right;
    margin-top: 10px;
    margin-left: 384px;
    scale: 0.6;
    
}

.review-2 {
    background-color:#ffffff;
    border-radius: 12px;
    border: 2px solid #492503;
    width: 900px;
    height: 315px;
    margin: auto;
    margin-top: 100px;
    margin-left: 255px;
}

.review-2 h2 {
    scale:1.2;
    background-position: left;
    margin-left: 90px;
    margin-top: 10px;
}

.review-2 p {
    scale:1.2;
    background-position: left;
    margin-left: 90px;
    margin-top: 10px;
}

.review-3 {
    background-color:#ffffff;
    border-radius: 12px;
    border: 2px solid #492503;
    width: 900px;
    height: 315px;
    margin: auto;
    margin-top: 100px;
    margin-left: 255px;
}

.review-3 h2 {
    scale:1.2;
    background-position: left;
    margin-left: 90px;
    margin-top: 10px;
}

.review-3 p {
    scale:1.2;
    background-position: left;
    margin-left: 90px;
    margin-top: 10px;
}

footer {
    background-color: rgb(31, 12, 0);
    color: #ffebd4;
    padding: 50px  ;
    margin-top: 1000px;
}

footer .footer-container {
    display: flex;
    justify-content: space-between;
}

footer .footer-container p {
    width: 500px;
}
